.footer
	.container-fluid
		.row
			.col-md-4.col-sm-4
				.left-col
					p &copy; 2006-2012 Авалон-принт
					h1 Киев ул. Ивана Кудри 41/22
			.col-md-4.col-sm-4
				.middle-col 
					p многоканальный телефон:
					h1 (044) 503-06-60
			.col-md-4.col-sm-4
				.right-col
					p адрес электронной почты:
					h1: a(href="mailto:print@avalon-print.com") print@avalon-print.com