header
	.container-fluid
		.row
			.col-md-3.col-xs-6
				.logo: a(href="/"): img(src="/assets/images/logo.png" alt="Logo")
			.col-md-6.col-md-offset-3.col-xs-6
				.address: ul
					li Украина, Киев
					li ул. Ивана Кудри 41/22
					li
						span.small тел.: 
						a(href="tel:80445030660")|(044) 503-06-60
					li: span.small (многоканальный)
					li
						span.small e-mail: 
						a(href="mailto:print@avalon-print.com") print@avalon-print.com