header
	.container-fluid
		.row
			.col-md-3.col-sm-3.col-xs-12
				.logo: a(href="/"): img.img-responsive(src="/assets/images/logo.png" alt="Logo")
			.col-md-6.col-sm-5.hidden-xs
				.header-nav: ul
					li: a(href="#") Рекламным агентствам и посредникам
					li: a(href="#") Требования к макетам
					li: a(href="#") Наши клиенты
					li: a(href="#") Наше оборудование
					li: a(href="#") Полиграфический юмор
					li: a(href="#") Контакты
			.col-md-3.col-sm-4.hidden-xs
				.address: ul
					li Украина, Киев
					li ул. Ивана Кудри 41/22
					li
						span.small тел.: 
						a(href="tel:80445030660")|(044) 503-06-60
					li: span.small (многоканальный)
					li
						span.small e-mail: 
						a(href="mailto:print@avalon-print.com") print@avalon-print.com