nav
	.nav-inner
		.mobile-button
			span &nbsp;
			span &nbsp;
			span &nbsp;
		ul
			li: a(href="#") Главная
			li
				a(href="#") О нас
					span.caret
				.dropdown
					ul
						li: a(href="#") Контакты
						li: a(href="#") Наши работы
						li: a(href="#") Наши клиенты
						li: a(href="#") Наше оборудование
						li: a(href="#") Требования к макетам
						li: a(href="#") Рекламным агентствам и посредникам
						li: a(href="#") Полиграфический юмор
			li
				a(href="#") Продукция
					span.caret
				.dropdown
					ul
						li: a(href="#") Визитки
						li: a(href="#") Фирменные бланки
						li: a(href="#") Фирменные конверты
						li: a(href="#") Папки
						li: a(href="#") Книги, брошюры
						li: a(href="#") Листовки, буклеты, флаера
						li: a(href="#") Вобблеры
						li: a(href="#") Рекламные магниты
						li: a(href="#") Плакаты
						li: a(href="#") Наклейки
						li: a(href="#") Календари
						li: a(href="#") Таблички
			li
				a(href="#") Цифровая печать
					span.caret
				.dropdown
					ul
						li: a(href="#") Цветная печать
						li: a(href="#") Чёрно-белая печать
			li
				a(href="#") Широкоформатная печать
					span.caret
				.dropdown
					ul
						li: a(href="#") Пигметная печать
						li: a(href="#") Экосольвентная печать
						li: a(href="#") Сольвентная печать
			li
				a(href="#") Офсетная печать
					span.caret
				.dropdown
					ul
						li: a(href="#") Визитки
						li: a(href="#") Карманный календарик
						li: a(href="#") Флаера
						li: a(href="#") А4
						li: a(href="#") А5
			li
				a(href="#") Постпечатные работы
					span.caret
				.dropdown
					ul.right
						li: a(href="#") Порезка
						li: a(href="#") Биговка, фальцовка, перфорация
						li: a(href="#") Ламинация
						li: a(href="#") Тиснение, конгрев, фольгирование
						li: a(href="#") Цифровая высечка
						li: a(href="#") Скругление, сверление
						li: a(href="#") Переплет
			li
				a(href="#") Дизайн
					span.caret
				.dropdown
					ul.right
						li: a(href="#") Разработка макетов
