.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
	padding: 0 0 100px;
}

::selection {
	background:#ddd;
}

::-moz-selection {
	background:#ddd;
}


@import "partials/header.less";
@import "partials/nav.less";
@import "mixins/vertical-align.less";