doctype html
html(lang="en")
	head
		block title
			title Default Title
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="")
		meta(name="description" content="")
		link(href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="/assets/css/styles.css" rel="stylesheet" type="text/css")
		link(href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic" rel="stylesheet" type="text/css")
		<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		block styles
	body
		.wrapper
		//header start
		include ../includes/header.jade
		//header end
		//nav start
		include ../includes/nav.jade
		//nav end
		//content start
		block content
		//content end
		//footer start
		include ../includes/footer.jade
		//footer end

		//scripts start
		script(src='/assets/js/jquery.js')
		script(src='/assets/js/bootstrap.min.js')
		script(src='/assets/js/app.js')
		block scripts
		//scripts end