html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  body {
    margin-bottom: auto;
  }
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
  padding: 0 0 100px;
}
::selection {
  background: #ddd;
}
::-moz-selection {
  background: #ddd;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
header {
  height: 170px;
  background: #36312e;
  position: relative;
}
header .logo {
  position: relative;
  z-index: 100;
  max-width: 100%;
}
@media only screen and (max-width: 480px) {
  header .logo img {
    max-width: 100%;
    display: block;
    height: auto;
  }
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
header .address {
  font-size: 17px;
  color: #fafafa;
  text-align: right;
  height: 170px;
}
header .address li {
  white-space: pre;
}
header .address a {
  color: #A6CE39;
  text-decoration: none;
}
header .address a:hover {
  color: #BAEE2F;
}
@media only screen and (max-width: 1024px) {
  header .address {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  header .address {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  header .address {
    font-size: 14px;
  }
}
header:after {
  background: url(../images/stripes.jpg);
  content: '';
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
nav {
  position: relative;
  background: #F4F3F6;
  border: 1px solid #e7e7e7;
  font-family: 'PT Sans', sans-serif;
}
nav .nav-inner {
  margin: 0 auto;
  position: relative;
  float: none;
  z-index: 1;
}
nav .nav-inner a {
  color: #111;
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
  display: block;
}
@media screen and (max-width: 1024px) {
  nav .nav-inner a {
    padding: 0 25px;
  }
}
nav .nav-inner ul {
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  nav .nav-inner ul {
    position: absolute;
    left: -100%;
    transition: all 0.5s ease;
    background: rgba(244, 243, 246, 0.94);
    display: block;
  }
}
nav .nav-inner li {
  display: table-cell;
  position: relative;
  color: #777;
  text-align: center;
}
nav .nav-inner li:hover {
  background: #e7e7e7;
  cursor: pointer;
}
nav .nav-inner li:hover .dropdown {
  display: block;
}
nav .nav-inner li li {
  width: 100%;
  background: rgba(253, 253, 253, 0.89);
  text-align: left;
  display: block;
}
nav .nav-inner li ul a {
  font-size: 15px;
  padding: 0 25px;
  width: 100%;
  color: #111;
  text-decoration: none;
  line-height: 35px;
}
@media screen and (max-width: 1024px) {
  nav .nav-inner li {
    display: block;
    text-align: left;
  }
}
nav .nav-inner .dropdown {
  position: relative;
  display: none;
}
nav .nav-inner .dropdown ul {
  white-space: nowrap;
  background: rgba(253, 253, 253, 0.99);
  position: absolute;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  width: auto;
}
@media screen and (max-width: 1024px) {
  nav .nav-inner .dropdown ul {
    display: block;
    position: relative;
  }
}
nav .nav-inner .dropdown ul.right {
  right: 0;
  width: initial;
}
nav .open .mobile-button {
  right: 0;
}
nav .open ul {
  left: 0;
}
nav .mobile-button {
  margin: 0 auto;
  top: 0;
  right: 0;
  position: relative;
  display: none;
  color: #fafafa;
  z-index: 2;
  transition: all 0.5s ease;
  cursor: pointer;
  width: 40px;
}
@media screen and (max-width: 1024px) {
  nav .mobile-button {
    right: 0;
    display: block;
  }
}
nav .mobile-button span {
  height: 5px;
  background: #ccc;
  padding: 0;
  display: block;
  margin: 7px 0;
}
nav .caret {
  position: relative;
  left: 5px;
  border-bottom: 4px solid transparent;
  border-top: 4px solid #777;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  height: 0;
  opacity: 0.6;
  vertical-align: middle;
  width: 0;
}
.products-grid {
  margin: 30px 0 20px;
}
.products-grid a {
  padding: 10px 0;
}
.products-grid .caption {
  text-align: center;
  padding: 10px 0 30px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}
.products-grid img {
  margin: auto;
  border-radius: 15px;
}
.news {
  margin: 30px 0 20px;
}
.news .post {
  margin-bottom: 25px;
}
.news .post-header {
  font-size: 18px;
}
.news .post-content {
  line-height: 1.4;
  font-size: 16px;
}
.news .date {
  text-align: right;
  font-size: 12px;
  display: inline-block;
}
.news .read-more {
  padding-top: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  background: #36312e;
  width: 100%;
  min-height: 100px;
  color: #999;
  padding: 20px 0 20px;
  text-align: left;
}
footer a {
  color: #A6CE39;
  text-decoration: none;
}
footer a:hover {
  color: #BAEE2F;
}
footer h1 {
  color: #ccc;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
footer .middle-col {
  text-align: center;
}
footer .middle-col h1 {
  text-align: center;
}
footer .right-col {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }
  footer .left-col,
  footer .middle-col,
  footer .right-col {
    text-align: center!important;
    width: 100%;
    padding: 5px;
  }
}
main h2 {
  color: #A60D0D;
  font-size: 26px;
  margin: 20px 0;
}
main p {
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 10px;
}
main section {
  margin-bottom: 45px;
}
main .heading-image {
  float: right;
  margin-left: 20px;
  border-radius: 5px;
}
main ul.plus,
main ul.minus {
  font-size: 16px;
  padding: 0;
  list-style-type: none;
}
main ul.plus li:before,
main ul.minus li:before {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
}
main ul.plus li:before {
  content: '+';
  color: green;
}
main ul.minus li:before {
  content: '-';
  color: red;
}
main .page-video {
  position: relative;
  bottom: 0;
}
main .page-video .embed-responsive {
  margin-bottom: 20px;
  border-radius: 5px;
}
main .gallery-images {
  margin-bottom: 40px;
}
main .gallery-images img {
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 5px;
}
.item {
  width: 19.5%;
}
.item.w2 {
  width: 39.5%;
}
.grid-sizer {
  width: 19.5%;
}
.gutter-sizer {
  width: 0.5%;
}
