extends ./layouts/default.jade

block title
	title Inner Page

block content
	.container-fluid
		.row
			.col-md-7
				h1 Визитки
				p
					|Мы можем предложить Вам изготовление визитных карточек различными видами печати - цифровой лазерной (с ламинацией и без), объемным шелкотрафаретом, тиснением фольгой. Каждый вид печати имеет свои плюсы и минусы. Мы постараемся дать краткое описание каждого вида печати. Конечно, в текстовом описании всего не расскажешь, лучше всего подъехать к нам в офис и все посмотреть и "пощупать" вживую, но для первичного дистанционного ознакомления этого достаточно.
					|Акция! 100 полноцветных визитных карточек на картоне 300 г/м 40 гривен односторонние, 80 гривен двусторонние!*
					|*При условии предоставления заказчиком готового к печати макета с соблюдением стандартных полиграфических требований и сроке изготовления не менее 24-х часов
					|Акция! Фигурные визитные карточки! Любая форма! Никаких ограничений Вашей фантазии!
					|до 1-го сентября 2011 года фигурная вырезка визитных карточек всего за 100 гривен за комплект*
					|*Подразумевается прибавление к стоимости комплекта из 100 штук при выбранном Вами картоне и виде печати ста гривен
			.col-md-5

