extends ./layouts/default.jade

block styles

block scripts
	link(href="/assets/css/photoswipe/photoswipe.css" rel="stylesheet" type="text/css")
	link(href="/assets/css/photoswipe/default-skin.css" rel="stylesheet" type="text/css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js")
	script(src="/assets/js/photoswipe/photoswipe.min.js")
	script(src="/assets/js/photoswipe/photoswipe-ui-default.min.js")
	script(src="/assets/js/photoswipe/photoswipe-init.js")
	script.
		var $container = $('.gallery-images');
		// initialize
		$container.imagesLoaded( function() {
			$container.masonry({
				columnWidth: ".grid-sizer",
				gutter: ".gutter-sizer",
				itemSelector: '.item'
			});
		});
block title
	title Inner Page

block content
	main
		.container-fluid
			.row
				.col-md-8
					.col-md-12
						section
							h2 Визитки
							img.heading-image(src="./assets/images/products-grid/vizitki.jpg" class="img-responsive")
							p Каждый вид печати имеет свои плюсы и минусы. Мы постараемся дать краткое описание каждого вида печати. Конечно, в текстовом описании всего не расскажешь, лучше всего подъехать к нам в офис и все посмотреть и "пощупать" вживую, но для первичного дистанционного ознакомления этого достаточно.
							p Мы можем предложить Вам изготовление визитных карточек различными видами печати - цифровой лазерной (с ламинацией и без), объемным шелкотрафаретом, тиснением фольгой.
							p Плюсы и минусы лазерной печати:
							p: b Плюсы:
							ul.plus
								li короткий срок изготовления (от 1 часа)
								li сравнительно невысокая цена
								li цена не зависит от количества цветов
								li цена не зависит от заполнения цветом - любые плашки, фото - в общем, никаких ограничений по макету
								li не боится воды, ультрафиолета и царапин
								li допускает ламинацию
								li печатает на ЛЮБЫХ светлых дизайнерских картонах до 420 г/м НОВИНКА!!!! Новая цифровая печатная машина - анонс на главной странице сайта!
							p: b Минусы:
							ul.minus
								li невозможно печатать по темным дизайнерским картонам и пластикам.
						section
							h2 Примеры работ
							.gallery-images
								figure.item
									a(data-size="1200x800" href="/assets/images/buisness-cards/Bind1.jpg"): img.img-responsive(alt="Buisness card #1" src="/assets/images/buisness-cards/Bind1.jpg")
									figcaption.hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								figure.item.w2
									a(data-size="1200x800" href="/assets/images/buisness-cards/Bind2.jpg"): img.img-responsive(alt="Buisness card #1" src="/assets/images/buisness-cards/Bind2.jpg")
									figcaption.hidden Vero dignissimos, ipsa nobis itaque quae aut officia.
								figure.item
									a(data-size="1200x800" href="/assets/images/buisness-cards/Bind3.jpg"): img.img-responsive(alt="Buisness card #1" src="/assets/images/buisness-cards/Bind3.jpg")
									figcaption.hidden Ad ipsum nemo assumenda a consequatur quo fuga inventore tempora quis ipsam! Nulla, maiores!
								figure.item
									a(data-size="1200x800" href="/assets/images/buisness-cards/Bind4.jpg"): img.img-responsive(alt="Buisness card #1" src="/assets/images/buisness-cards/Bind4.jpg")
									figcaption.hidden Buisness card #1
								figure.item
									a(data-size="1200x800" href="/assets/images/buisness-cards/Bind5.jpg"): img.img-responsive(alt="Buisness card #1" src="/assets/images/buisness-cards/Bind5.jpg")
									figcaption.hidden Buisness card #1
								figure.item
									a(data-size="1200x800" href="/assets/images/buisness-cards/Bind6.jpg"): img.img-responsive(alt="Buisness card #1" src="/assets/images/buisness-cards/Bind6.jpg")
									figcaption.hidden Buisness card #1
								figure.item
									a(data-size="1200x800" href="/assets/images/buisness-cards/Bind7.jpg"): img.img-responsive(alt="Buisness card #1" src="/assets/images/buisness-cards/Bind7.jpg")
									figcaption.hidden Buisness card #1
								.grid-sizer
								.gutter-sizer
						section
							h2 Видео
							.page-video
								.embed-responsive.embed-responsive-16by9
									iframe.embed-responsive-item(src="https://www.youtube.com/embed/DsC_Q9Htue4?theme=light" frameborder="0" allowfullscreen)
								.embed-responsive.embed-responsive-16by9
									iframe.embed-responsive-item(src="https://www.youtube.com/embed/DsC_Q9Htue4?theme=light" frameborder="0" allowfullscreen)
				.col-md-4
					section
						h2 Калькулятор
						.row
							.col-md-6
								.form-group
									label Размер
									select.form-control
										option 90x50
										option 85x55
								.form-group
									label Бумага
									select.form-control
										option 300 гм/м2 Мелованная
										option DNS 300
								.form-group
									label Ламинация
									select.form-control
										option Без ламинации 
										option Глянцевая ламинация 80мк
										option Матовая припресовка 20мк
							.col-md-6
								.form-group
									label Тираж
									select.form-control
										option 100 
										option 200
										option 2000
								.form-group
										label Цветность
										select.form-control
											option Односторонняя (4+0)
											option Двухсторонняя (4+4)
								.form-group
										label Скргуление уголков
										select.form-control
											option Без скругления
											option Скругление
											option Высечка
											option Контурная вырезка
							.col-md-12
								h3.text-right Стоимость: 250 &#8372;
					section
						h2 Акции
						p 10.02.2015 100 полноцветных визитных карточек на картоне 300 г/м 40 гривен односторонние, 80 гривен двусторонние!*
						p 12.02.2015 Фигурные визитные карточки! Любая форма! Никаких ограничений Вашей фантазии! до 1-го сентября 2011 года фигурная вырезка визитных карточек всего за 100 гривен за комплект*
					section
						h2 Отправить нам сообщение
						.row
							.col-md-6
								.form-group
									input.form-control(placeholder="Имя")
							.col-md-6
								.form-group
									input.form-control(placeholder="Телефон")
							.col-md-12
								.form-group
									textarea.form-control(placeholder="Сообщение" rows="5")
								button.btn.btn-primary Отправить сообщение

	include ./includes/photoswipe.jade