main {
	p {
		line-height: 1.4;
		font-size: 16px;
		margin-bottom: 10px;
		text-indent: 2.5em;
		
	}

	p + p {
		text-indent: 0;
	}

	.content {
		margin-bottom: 40px;
		h2 {
			margin: 20px 0;
		}
	}
	.page-image {
		margin-top: 40px;
		position: relative;
		bottom: 0;
	}
	.gallery-images {
		margin-bottom: 40px;
		img {
			margin: 5px;
			display: inline-block;
		}
	}
}

.calculator {
	h2 {
		margin: 20px 0;
	}
}

.item { width: 24%; }
.item.w2 { width: 49%; }
.grid-sizer { width: 24%; }
.gutter-sizer { width: 1%; }